{% extends 'shop/basic.html' %}


{% block title%}About Us{% endblock %}



{% block body%}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MerXpress</h1>
      <p>Merxpress.com, inc. is an zambian multinational technology company focusing on e-commerce, cloud computing, online advertising, digital streaming, and artificial intelligence. it has been often referred to as "one of the most influential economic and cultural forces in the world",[5] and is often regarded as one of the world's most valuable brands.[6] it is considered to be one of the big five american technology companies, alongside alphabet (parent company of google), apple, meta and microsoft.

amazon was founded by jeff bezos from his garage in bellevue, washington,[7] on july 5, 1994. initially an online marketplace for books, it has expanded into a multitude of product categories, a strategy that has earned it the moniker the everything store.[8] it has multiple subsidiaries including amazon web services (cloud computing), zoox (autonomous vehicles), kuiper systems (satellite internet), and amazon lab126 (computer hardware r&d). its other subsidiaries include ring, twitch, imdb, and whole foods market. its acquisition of whole foods in august 2017 for us$13.4 billion substantially increased its footprint as a physical retailer.[9]</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Head Quater</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Services we offer</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Testimonials</h2>
        <p>Donec sed odio dui. Cras justo odio, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}


